.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  padding: 32px 50px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  max-width: fit-content;
}

.modal__flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 12.5px;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__title {
  margin-top: 4px;
  margin-bottom: 36px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__image-caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-color: rgba(33, 33, 33, 1);
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  width: fit-content;
  height: fit-content;
  margin-top: 8px;
  margin-bottom: 0px;
}

.modal__close-button {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background-image: url(../images/close_icon.svg);
  background-position: center;
  background-size: cover;
  border: none;
  background-color: #fff;
  transition: background-image 1s linear;
}

.modal__close-button_type_preview {
  background-image: url(../images/close_button_preview.svg);
  background-color: transparent;
  position: static;
}

.modal__close-button:hover {
  background-image: url(../images/close_button_dark.svg);
}

.modal__close-button_type_preview:hover {
  background-image: url(../images/close_button_preview_hover.svg);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 8px;
}

.modal__input {
  width: 606px;
  height: 20px;
  padding: 16px 12px;
  margin-bottom: 32px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.4);
  border-style: solid;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  transition: border-color 1s linear;
}

.modal__input_type_error {
  border-color: rgba(255, 0, 0, 0.6);
  margin-bottom: 0px;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  color: #fcf5e5;
  background-color: black;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__submit-button_type_disabled {
  background-color: gray;
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 8px;
  margin-bottom: 32px;
  width: 606px;
}

@media screen and (max-width: 750px) {
  .modal__container {
    max-width: 300px;
    height: 336px;
    padding: 12px;
  }

  .modal__flex-container {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 8px;
  }

  .modal__image-caption {
    font-size: 16px;
  }

  .modal__title {
    margin-top: 10px;
    margin-bottom: 32px;
    font-size: 20px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    width: 252px;
    height: 16px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .modal__submit-button {
    width: 276px;
    height: 52px;
  }
}

@media screen and (max-width: 375px) {
  .modal__image {
    min-width: 288px;
  }
}
